---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('November 08 2024')}
	heroImage="blog-placeholder-about.jpg"
>
	<p>
		Hello! I'm Ben, a keen software developer with a strong interest in security. I would love to one day work as a pentester and beyond (Red team and OSINT, I'm looking at you 👀). This site is where I will share my journey, insights, and experiences as I venture into the cyber realm.
	</p>
	<p>
		I have been working in the tech industry for several years, specializing in building secure and scalable web applications. My goal is to help others learn and grow in their careers by sharing valuable knowledge and practical tips.
	</p>
	<p>
		On this site, you'll find articles focused on various aspects of security, particularly my learnings to become a pentester. That said, there may be other topics that pop up from time to time, sometimes related to cybersecurity - vulnerability assessments, world events, and the latest trends in cybersecurity - but pretty much always related to tech. I believe in continuous learning and strive to stay updated with the ever-evolving security landscape.
	</p>
	<p>
		Feel free to explore the blog and connect with me on github. I'm always open to feedback and suggestions for new content. Also feel free to report any bugs. Thanks for stopping by!
	</p>
</Layout>
