---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			<p>
				As I prepare to venture into the realm of cybersecurity, this place will form the basis for my notetaking and documenting of my journey
			</p>
			<p>Over the next several months, these are the resources and courses I plan to work through:</p>
			<ul>
				<li>HackTheBox</li>
				<li>TryHackMe</li>
				<li>Antisyphon labs</li>
				<li>Portswigger <a href="https://portswigger.net/web-security">Web Security Academy</a></li>
			</ul>
			<p>My hope is to learn to use tools such as:</p>
			<ul>
				<li>Burpsuite</li>
				<li>Mestasploit</li>
				<li>Common cli tools like <code>nmap</code></li>
				<li>Etc...</li>
			</ul>
			<p>Site uplift:</p>
			<ul>
				<li>Cheat sheet/summary page(s)</li>
				<li>Analytics (Umami)?</li>
				<li>Build search functionality</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
