---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Security Journey</h1>

			<p>
				Welcome to my cybersecurity journey! This site will serve as my digital notebook where I document my learning and experiences. Head over to the <a href="blog">blog</a> to see my latest posts. Feel free to use the search functionality in the top right (<code>Super + k</code>) to find specific topics.
			</p>
			<p>Over the next several months, I will be exploring the following resources and courses:</p>
			<ul>
				<li>HackTheBox</li>
				<li>TryHackMe</li>
				<li>Antisyphon Labs</li>
				<li>Portswigger <a href="https://portswigger.net/web-security">Web Security Academy</a></li>
			</ul>
			<p>My goal is to become proficient with tools such as:</p>
			<ul>
				<li>Burp Suite</li>
				<li>Metasploit</li>
				<li>Common CLI tools like <code>nmap</code></li>
				<li>And more...</li>
			</ul>
			<p>Planned site enhancements:</p>
			<ul>
				<li>Cheat sheet/summary pages</li>
				<li>Tweak settings to improve the site search results</li>
				<li>Table of contents for each blog post</li>
				<li>Responsive design (I admit, it's quite hacky at the moment)</li>
			</ul>
			<i>Disclaimer: I am tracking (anonymous) analytics via Umami - I would like to know  info like page hits</i>
		</main>
		<Footer />
	</body>
</html>
